<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log" type="TextAdventure.WindowsGame.Configuration.LogConfigurationSection, TextAdventure.WindowsGame"/>
		<section name="time" type="TextAdventure.WindowsGame.Configuration.TimeConfigurationSection, TextAdventure.WindowsGame"/>
		<section name="fps" type="TextAdventure.WindowsGame.Configuration.FpsConfigurationSection, TextAdventure.WindowsGame"/>
	</configSections>
	<log visible="false"
		 maximumVisibleLogLines="30"
		 minimumWindowWidth="150"
		 logEntryLifetime="1.00:00:00"
		 showTimestamps="true"/>
	<time visible="true"/>
	<fps visible="true"/>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
	</startup>
</configuration>
